.container {
    margin: 0 auto;
    position: relative;
    height: 860px;
    background-color: #41337A;
}

.item {
    position: absolute;
}

.id1 {
    top: 20px;
    left: 350px;
}

.id1 .img {
    background: url("https://images.pexels.com/photos/545960/pexels-photo-545960.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") left top no-repeat;
}

.item.id1 {
    width: 150px;
    height: 150px;
}

.id2 {
    top: 200px;
    left: 500px;
}

.id2 .img {
    background: url("https://images.pexels.com/photos/1658967/pexels-photo-1658967.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") left top no-repeat;
}

.item.id2 {
    width: 200px;
    height: 200px;
}

.id3 {
    top: 500px;
    left: 420px;
}

.id3 .img {
    background: url("https://images.unsplash.com/photo-1519612535780-b5d7d96c36f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") left top no-repeat;
}

.item.id3 {
    width: 150px;
    height: 150px;
}

.id4 {
    top: 40px;
    left: 1000px;
}

.id4 .img {
    background: url("https://images.pexels.com/photos/35629/bing-cherries-ripe-red-fruit.jpg?auto=compress&cs=tinysrgb&h=750&w=1260") left top no-repeat;
}

.item.id4 {
    width: 200px;
    height: 200px;
}

.id5 {
    top: 490px;
    left: 775px;
}

.id5 .img {
    background: url("https://images.unsplash.com/photo-1525845859779-54d477ff291f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") left top no-repeat;
}

.item.id5 {
    width: 200px;
    height: 200px;
}

.id6 {
    top: 70px;
    left: 700px;
}

.id6 .img {
    background: url("https://images.pexels.com/photos/1550343/pexels-photo-1550343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") left top no-repeat;
}

.item.id6 {
    width: 150px;
    height: 150px;
}

.id7 {
    top: 270px;
    left: 850px;
}

.id7 .img {
    background: url("https://images.unsplash.com/photo-1512069772995-ec65ed45afd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=677&q=80") left top no-repeat;
}

.item.id7 {
    width: 150px;
    height: 150px;
}

.id1, .id2, .id3, .id4, .id5, .id6, .id7 {
    width: 400px;
    height: 300px;
}

.item.id1:hover, .item.id2:hover, .item.id3:hover, .item.id4:hover, .item.id5:hover, .item.id6:hover, .item.id7:hover {
    width: 400px;
    height: 300px;
}

.item {
    position: absolute;
    width: 100px;
    height: 100px;
    /*overflow: hidden;*/
    /*
    linear:       the transition will have constant speed from start to end.
    ease:         the transition will start slowly, then get faster, before ending slowly.
    ease-in:      the transition will start slowly.
    ease-out:     the transition will end slowly.
    ease-in-out:  the transition starts and ends slowly.
    cubic-bezier: define specific values for your own transition.
    */
    -webkit-transition: all 500ms ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all 500ms ease-in-out;
    /** Firefox **/
    -o-transition: all 500ms ease-in-out;
    /** Opera **/
    -ms-transition: all 500ms ease-in-out;
    /** IE **/
    transition: all 500ms ease-in-out;
    z-index: 10;
}
.item .img {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #eee;
    background-size: 150%;
    background-position: 50% 10%;
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    /* IE 9 */
    -webkit-transform: rotate(10deg);
    /* Safari and Chrome */
    -o-transform: rotate(10deg);
    /* Opera */
    -moz-transform: rotate(10deg);
    /* Firefox */
    -webkit-transition: all 500ms ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all 500ms ease-in-out;
    /** Firefox **/
    -o-transition: all 500ms ease-in-out;
    /** Opera **/
    -ms-transition: all 500ms ease-in-out;
    /** IE **/
    transition: all 500ms ease-in-out;
}

.item:hover .img {
    background-size: 100%;
    background-position: 100% 100%;
    transform: rotate(0);
    -ms-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari and Chrome */
    -o-transform: rotate(0);
    /* Opera */
    -moz-transform: rotate(0);
    /* Firefox */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    z-index: 100;
}

.item:hover {
    z-index: 100;
}

.item .info {
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #FBFBFF;
    font-size: 14px;
    /*display: none; */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    -moz-transform: rotate(90deg);
    /* Firefox */
    position: absolute;
    top: 0;
    right: -340px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all 500ms ease-in-out;
    /** Firefox **/
    -o-transition: all 500ms ease-in-out;
    /** Opera **/
    -ms-transition: all 500ms ease-in-out;
    /** IE **/
    transition: all 500ms ease-in-out;
}

.item .info.left {
    top: 0;
    left: -340px;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    -o-transform: rotate(-90deg);
    /* Opera */
    -moz-transform: rotate(-90deg);
    /* Firefox */
}

.item:hover .info {
    display: block;
    transform: rotate(0);
    -ms-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari and Chrome */
    -o-transform: rotate(0);
    /* Opera */
    -moz-transform: rotate(0);
    /* Firefox */
    opacity: 1;
    position: absolute;
    z-index: 1;
    transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    /* Firefox 4 */
    -webkit-transition-delay: 500ms;
    /* Safari and Chrome */
    -o-transition-delay: 500ms;
    /* Opera */
}


/* Buttons */
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
    background-color: transparent;
    border: 2px solid #D5573B;
    border-radius: 0.6em;
    color: #D5573B;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: .7rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.btn:hover, .btn:focus {
    color: #FBFBFF;
    outline: 0;
}

.fill {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.fill:hover {
    box-shadow: 0 0 40px 40px #D5573B inset;
}

span {
    display: inline-flex;
}
