.profile-image {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    float: left;
    border-color: #6EA4BF;
    border-width: 10px;
    border-style: solid;
    z-index: 10;
}

.profile-div {
    padding-top: 5%;
    overflow: hidden;
    padding-bottom: 8%;
}

.profile-text {
    width: 30em;
    height: 30em;
    border-radius: 50%;
    font-size: 1.3em;
    color: #FBFBFF;
    line-height: 1.3em;
    text-align: center;
    background: #6EA4BF;
    float: right;
    padding: 5.25em;
    border-width: 10px;
    border-style: solid;
    border-color: #6ea4bf;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container {
    margin-top: -5.50em;
    z-index: 5;
}

.box-1 {
    z-index: 10;
}

.box-2 {
    margin-top: -6em;
}