.profile-image {
    border-radius: 50%;
    width: 700px;
    height: 700px;
    float: left;
    border-color: #6EA4BF;
    border-width: 10px;
    border-style: solid;
}

.profile-div {
    padding-top: 5%;
    overflow: auto;
    padding-bottom: 8%;
}

.profile-text {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    font-size: 20px;
    color: #FBFBFF;
    line-height: 21px;
    text-align: center;
    background: #6EA4BF;
    float: right;
    padding: 5.25em;
    border-width: 10px;
    border-style: solid;
    border-color: #6ea4bf;
    font-family: 'Open Sans', sans-serif;
}